{%extends 'index.html'%}
{% load static %}

{%block title%}
		<title>About Us | LANDME</title>
{%endblock%}
{%block action2%}active{%endblock%}{%block action1%}{%endblock%}
{%block jm%}

		<div class="jumbotron contact">
			<img
				src="{%static 'image/how-to-sell-land-fast.jpg'%}"
				alt=""
				width="100%"
				height="300px"
			/>
			<div class="text">
				<h1>About Us</h1>
			</div>
		</div>
{%endblock%}
{%block xa%}

		<div class="content">
			<div class="container py-5 text-white">
				LANDME didirikan untuk membantu para Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Commodi facere nisi corrupti omnis ad
				officiis, ratione laborum fuga tempora perferendis blanditiis quidem
				deserunt earum mollitia quo necessitatibus dolore velit sed eius,
				doloribus minima quod laudantium. Quibusdam necessitatibus nam,
				distinctio consequuntur a quis nulla placeat deleniti ea dolorem neque
				recusandae quod sapiente aliquid est voluptas ad error commodi minus
				ullam? Nesciunt omnis accusantium quis nemo asperiores officiis eos
				veniam a nihil sapiente nisi, vero doloremque provident, cumque
				explicabo error aperiam numquam ea velit laudantium et atque ipsa. Odit
				nam repellat magnam, eum saepe, eveniet debitis, nulla cupiditate
				perspiciatis obcaecati fuga temporibus.
			</div>
		</div>
{%endblock%}
	

