<!-- <h1>PAGE DETAIL ITEM {{deid}}</h1>
<h1>Judul Barang : {{item.title}}</h1>
<h1>Foto Barang : </h1><img src="{{ item.images.url }}"/>
<h1>User Yang Menambahkan : {{item.userid}} User ID: {{item.userid.id}}</h1>
<h1>Detail Barang : {{item.detail}}</h1>
<h1>Tanggal Ditambahkan : {{item.datecreated}}</h1>
{%if item.datecreated != item.dateupdated %}
<h1>Tanggal Diperbarui : {{item.dateupdated}}</h1>
{%endif%}
<h1>Detail Barang : {{item.detail}}</h1> -->
<!-- <h1 style="color: red;">{{fav}}</h1> -->

<!-- {%if item.userid.id == user.id%}
<a href="{%url 'update' deid%}">Update</a>
{%endif%} -->
