<h1>UpdatePage {{iid}}</h1>
<form method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <p>Title</p>
    <input value="{{item.title}}" type="text" name="title">
    <p>Detail</p>
    <input value="{{item.detail}}" type="text" name="detail"><br>
    <h1>Foto Barang : </h1><img src="{{ item.images.url }}"/>
    <input value="{{ item.images.url }}" type="file" name="imgup" accept="image/*"><br>
    <input type="submit">
    <h1>DELETE "{{ item.title }}"?</h1>
    <input type='submit' value='DELETE' name="delete"/>  
</form>
<button>
    <a href="/">Home Page</a>
</button>