<h1>User Profile Page</h1>
<img src="{{ user.profile.userpic.url }}"/>
<h1>UserID: {{usr.id}}</h1>
<h1>Fullname: {%if user.profile.fullname != None %}{{user.profile.fullname}}{%endif%}</h1>
<h1>Username: {{usr.username}}</h1>
<h1>Email: {{usr.email}}</h1>
<h1>Headline: {%if user.profile.headline != None %}{{user.profile.headline}}{%endif%}</h1>
<h1>Bio: {%if user.profile.bio != None %}{{user.profile.bio}}{%endif%}</h1>
<h1>ads</h1>
{%for x in item%}
    <h1>NO:{{forloop.counter}}</h1><h1>{{x.id}}</h1><h1>{{x.detail}}</h1>
{%endfor%}
<h1>Bookmark</h1>
{%for x in fav%}
<h1>{{x.id}}</h1>
<h1>{{x.detail}}</h1>
{%endfor%}
<!-- <h1>==={{user.profile.products.all}}</h1> -->
{%if usr.id == user.id%}
<a href="{%url 'profilesetting' usr.username%}">ProfileSetting</a>
<!-- <a style="color: red;" href="{{usr.geturlx}}">LOL</a> -->
{%endif%}